:root {
  --Main-green: #50C878;
  --black: #121212;
  --profile-img: "../src/materials/profile pic.png";
  --content-font-size: 1.4rem;
  --text-color: white;
}
* {
    font-family: Anonymous Pro,'Roboto', sans-serif;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body {
  background-color: var(--black);
  /* border: 2px solid rgb(57, 199, 255); */
}
.main-container {
  display: flex;
  flex-direction: column;
}
.mobile-top-menu {
  display: none;
  position: relative;
  z-index: 10;
}
.side-bar-menu {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  position:fixed;
  top: 0px;
  box-sizing: border-box;
  width :20%;
  height: 100%;
  padding-left:15px;
  background-color: var(--Main-green);
  border-radius: 0px 0px 0px 0px;
}
.side-bar-menu .web-logo {
  width: 80%;
}

.content-page {
  /* border: 1px solid rgb(64, 0, 255); */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color:var(--black);
  color: var(--Main-green);
  margin-bottom: 20px;
  margin-left: 20%;
}
.content-page h1 {
  color: antiquewhite;
  font-size: 40px;
  margin-bottom: 20px;
  align-self: left;
}
.logo {
  margin: 40px 0px;
}
.side-bar-menu a {
  display:  flex;
  justify-content: center;
  align-items: center;
  max-width: 403px;
  height: 100%;
  color: var(--black);
  font-weight: bold;
  border-radius: 40px 0px 0px 40px;
}
nav {
  position: relative;
  width: 100%
}
.menu-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height:  80vh;
}
.side-bar-menu li{
  height: 100px;
}
li {
  list-style:none;
}
a {
  text-decoration: none;
  font-size: 1.3em;
  color: var(--black);
}

a.active {
  background-color: var(--black);
  color: white;
}

/* /////////////// Homepage styling/////////////// */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  width: 100%;
}

.home-text p, h1, h2 {
  margin-bottom: 10px;
}
.home-text  p {
  font-size: 20px;
  
}
.home-text  h1 {
  font-size: 3rem;
  color: rgb(131, 123, 114);
}

.image-socials-container {
  margin-top: 10%;
  display:  flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}
.profile-img {
  /* border: 1px solid red; */
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* background-image: url("/profilepic.png"); */
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.profile-img::before {
  content: "";
  font-weight: bold;
  color: black;
  padding: 10px 25px;
  position:absolute;
  inset: -10px 100px;
  border-radius: 10%;
  background-color: var(--Main-green);
  animation:  spin 8s linear infinite;
}
.profile-img::after {
  content: "";
  position: absolute;
  inset: 15px;
  border-radius: 50%;
  background-color:var(--black);
  background-image: url("/profilepic.png");
  background-position: center;
  background-size: cover;
}
.social-links {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-top: 50px;
  margin-bottom: 20px;
}
.social-links li {
  display: inline-block;
  margin: 0 1rem;
}

.social-links img:hover {
  border-radius: 50%;
  box-shadow: 0 0 5px #a2d8a2, 0 0 7px #d9dcd9, 0 0 9px #00ff00, 0 0 11px #00ff00;
  transform: scale(1.2,1.2);
}
.btn-container {
  width: 50%;
}
.cv-btn {
  background-color: var(--Main-green);
  font-weight: bold;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.cv-btn:hover {
  border: 4px solid var(--black);
  /* box-shadow: 0 0 5px #a2d8a2, 0 0 7px #d9dcd9, 0 0 9px #00ff00, 0 0 11px #00ff00; */
}
@keyframes spin {
  0% {
    inset: 50px;
    box-shadow: 0 0 10px #a2d8a2, 0 0 20px #d9dcd9, 0 0 30px #00ff00, 0 0 40px #00ff00;
    transform: rotate(0deg);
  }
  25% {
    inset: 50px;
    box-shadow: 0 0 10px #a2d8a2, 0 0 20px #d9dcd9, 0 0 30px #00ff00, 0 0 40px #00ff00;
    transform: rotate(90deg);
  }
  50% {
    inset: 50px;
    box-shadow: 0 0 10px #0d0d0d, 0 0 20px #454545, 0 0 30px #ffffff, 0 0 40px #424242;
    transform: rotate(180deg);
  }
  75% {
    inset: 50px;
  box-shadow: 0 0 10px #a2d8a2, 0 0 20px #d9dcd9, 0 0 30px #00ff00, 0 0 40px #00ff00;
    transform: rotate(270deg);
  }
  100% {
    inset: 50px;
    box-shadow: 10px 0 10px #abef0d, 10px 0 20px #8cf207, 0 0 30px #bfff10, 0 0 40px #c3ff00;
    transform: rotate(360deg);
  }
}

/* ////////////////Page opening animation//////////////// */
.fade-in {
  animation: fadeIn ease-in 3s;
}

.typing {
  overflow: hidden;
  width: 0%;
  animation: typing 3.5s steps(50, end) forwards ;
  white-space: nowrap;
  animation-delay: 1s;
}

@keyframes typing {
  from { width: 0; }
  /* 25% { width: 25%; }
  50% { width: 50%; }
  75% { width: 75%; } */
  to { width: 100%; white-space: wrap; }
}

@keyframes fadeIn {
  /* 0% {
      transform: translatey(100%);
      opacity: 0;
  }
  50% {
      transform: translatey(0%);
      opacity: 0.5;
  }
  75% {
      transform: translatey(-3%);
      opacity: 1;
  }
  100% {
      transform: translatey(0%);
      opacity: 1;
  } */
}

/* //////////////////Aboutpage styling////////// */

.about-container {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.card-head img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.card-head span {
  color: white;
  font-size: 26px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.edu-exp-flex{
  /* border: 1px solid; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  width: 100%;
  align-items:flex-start;
  margin-bottom: 40px;
}
.card-style {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 1px 2px var(--Main-green);
  border-radius: 20px;
  max-width: 400px;
  padding: 30px 15px;
  span {
    color: white;
  }
}
.card-style [class*="content"] p {
    margin: 15px 0px;
    font-size: var(--content-font-size);
}
.card-item img{
  width: 48px;
  height: 48px;
  margin: 0px 10px;
}
.card-item li {
  /* border: 1px solid; */
  min-width: 250px;
  margin: 5px 0px;
  display: flex;
  align-items: center;
}
ul .card-item:nth-child(even) li {
  flex-direction: row-reverse;
}
.framework-card ul{
  padding: 0px;
  font-size: var(--content-font-size);
}

/* //////////////////contactpage styling//////////// */
.contact-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width:100%;
}

.contact-container .sub-container h1{
  margin-left:1rem;
  margin-bottom:50px;
}
.contact-form {
  padding: 1.5rem;
  position: relative;
  font-size: var(--content-font-size);
  min-height: 300px;
  box-shadow: 1px 1px 1px 2px var(--Main-green);
  border-radius: 20px;
  overflow: hidden;
}
.contact-form::before {
  content: "0";
  position: absolute;
  z-index: 0;
  inset: -200px 200px;
  background-color: var(--Main-green);
  animation:  rotation 8s linear infinite;
}
.contact-form::after {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 10px 10px;
  background-color: var(--black);
  border-radius: 20px;
}

@keyframes rotation {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
.contact-form label ,input, textarea {
  display: block;
  width: 100%;
}
.contact-form label {
  margin-bottom: 15px;
}
.contact-form textarea,input {
  font-size: var(--content-font-size);
  color: var(--text-color);
  border: none;
  padding: 20px;
  padding-left: 4.5rem;
  border: 2px solid var(--Main-green);
  border-radius: 20px;
  background-color: var(--black);
  margin-bottom: 20px;
}
.contact-form input {
  height: 60px;
}
.contact-form textarea {
  border-radius: 20px 0px 0px 20px;
  height: 150px;
  resize: none;

}
.icon-input {
  position:relative;
  z-index: 3;
}

.icon-input .icon {
  width: 35px;
  height: 35px;
  position: absolute;
  transform: translate(60%,135%);
}
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px rgb(80, 96, 91) inset;
    
}
@media screen and (max-width: 700px) {
  html{
    font-size: 10px;
  }
  .side-bar-menu{
    display:none;
  }
  .mobile-top-menu {
    width: 100%;
    display: flex;
    position:sticky;
    top: 0;
    border-radius: 10px;
    background-color: var(--Main-green);

  }
  .mobile-top-menu .menu-links {
    margin-block: 2rem;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .mobile-top-menu a {
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
  }
  .content-page {
    margin-left: 0;
    margin-bottom: 50px;
  }
  .contact-container .sub-container {
    width: 90%;
  }
}